<div id="continer">
  <div class="in">
    <div>
      <img src="./../../../assets/download (1).jpg">
    </div>
    <div id="us">
      <label>username: </label>
      <input placeholder=" please Enter username" type="text" />
    </div>
    <div id="pa">
      <label>password: </label>
      <input placeholder="please Eneter password" type="password" />
    </div>
    <div>
      <button class="bu">login</button>
      <button class="bu" (click)="next()">signup</button>
    </div>
    <div>
      <a href="#">forget password</a>
    </div>
  </div>
</div>
