<div>
  <Fieldset>
    <Legend>security</Legend>
    <div>
      <label for="Email">Email</label>
      <input [(ngModel)]="email" id="Email" type="email" placeholder="Enter your Email">
    </div>
    <div>
      <label for="UserName">UserName</label>
      <input [(ngModel)]="username" id="UserName" type="text" placeholder="Enter your UserName">
    </div>
    <div>
      <label for="Password">Password</label>
      <input [(ngModel)]="password" id="Password" type="password" placeholder="Enter your Password">
    </div>
    <div>
      <label for="Confirm">ConfirmPassword</label>
      <input [(ngModel)]="confirmPassword" id="Confirm" type="password" placeholder="Enter your ConfirmPassword">
    </div>
  </Fieldset>
  <div>
    <input type="checkbox">
  </div>
  <div>
    <button>signup</button>
  </div>
</div>
