#parivate{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.Address{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.signup{
  margin-left: 20px;
  margin-top: 25px;
}
input{
  font-size:15px;
}
.signup img{
  width: 30%;
  margin-left: 30vw;
}
button{
  font-size:large;
  margin-top: 1vh;
  margin-left: 5vw;
}
.signup{
  border-radius: 3vh;
  background-color: rgb(255, 187, 97);
}
input{
  border-radius:1vh;
}
