<div class="up">
  <div id="fu">
    <label>fullname</label>
    <input placeholder=" please Eneter fullname" type="text" />
  </div>
  <div id="em">
    <label>email</label>
    <input placeholder=" please Enter email" type="email" />
  </div>
  <div id="ps">
    <label>Password Creation</label>
    <input placeholder="please Eneter Password Creation" type="password" />
  </div>
  <div id="co">
    <label>Confirm password</label>
    <input placeholder="please Enter Confirm password" type="password" />
  </div>
  <button>register</button>
</div>
