#parivate{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.Address{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.signup{
  margin-left: 20px;
  margin-top: 25px;
}
input{
  font-size:15px;
}

