<div class="up">
  <div id="fu">
    <label id="oi">fullname: </label>
    <input id="full" placeholder=" please Eneter fullname" type="text" />
  </div>
  <div id="em">
    <label id="po"> your email: </label>
    <input id="email"  placeholder=" please Enter email" type="email" />
  </div>
  <div id="ps">
    <label>Password Creation: </label>
    <input placeholder="please Eneter Password Creation" type="password" />
  </div>
  <div id="co">
    <label>Confirm password: </label>
    <input placeholder="please Enter Confirm password" type="password" />
  </div>
  <button id="bu">register</button>
</div>
