<div class="signup">
  <div>
    <img src="./../../../assets/download (2).jpg">
  </div>
  <fieldset id="parivate">
    <legend>private Information</legend>
    <div>
      <label for="Name">First name:</label>&nbsp;
      <input
        [(ngModel)]="service.user.firstname"
        id="Name"
        placeholder="Enter your Name"
        type="text"
      />
    </div>
    <div>
      <label for="Family Name">Last name:</label>&nbsp;
      <input
        [(ngModel)]="service.user.lastname"
        id="Family Name"
        placeholder="Enter your Family Name"
        type="text"
      />
    </div>
    <div>
      <label for="father">Father Name:</label>&nbsp;
      <input
        [(ngModel)]="service.user.father"
        id="father"
        type="text"
        placeholder="Enter your father name"
      />
    </div>
    <div>
      <label for="Birthday">Birthday:</label>&nbsp;
      <input [(ngModel)]="service.user.birth" id="Birthday" type="date" />
    </div>
    <div>
      <label>Gender:</label>&nbsp;
      <input
        [(ngModel)]="service.user.gender"
        type="radio"
        value="Male"
        name="gender"
      />Male
      <input
        [(ngModel)]="service.user.gender"
        type="radio"
        value="Females"
        name="gender"
      />Females
    </div>
    <div>
      <label for="NationalCode">National Code:</label>&nbsp;
      <input
        [(ngModel)]="service.user.nationalCode"
        id="NationalCode"
        placeholder="Enter your National Code"
        type="email"
      />
    </div>
  </fieldset>
  <fieldset *ngIf="service.user.gender == 'Females'">
    <legend>Ladies Information</legend>
    <div>
      Employment Status
      <select [(ngModel)]="service.user.status">
        <option>Housewife</option>
        <option>Retired</option>
        <option>Employee</option>
      </select>
    </div>
  </fieldset>
  <fieldset *ngIf="service.user.gender == 'Male'">
    <legend>Information Gentlemen</legend>
    <div>
      Military status:
      <select [(ngModel)]="service.user.military" size="3">
        &nbsp;
        <option>Exempt</option>
        <option>End of service</option>
        <option>Student</option>
        <option>Engaged in service</option>
      </select>
    </div>
  </fieldset>
 <div>
  <button (click)="next()">next</button>
 </div>
</div>
