.cack {
  background-color: rgb(245, 225, 199);
  margin-top: 120px;
  text-align: center;
  box-shadow: 30px;
  border: 2px;
  border-color: black;
  border-style: solid;
  margin-right: 30%;
  margin-left: 30%;
  height: 450px;
}
#old {
  margin: 10px 25% 0 25%;
  background-color: white;
  font-size: 30px;
}
#main {
  margin: 10px 25% 1px 25%;
  background-color: white;
  font-size: 30px;
}
#button {
  display: grid;
  grid-template-columns: 100px 100px 100px auto;
  column-gap: 5px;
  row-gap: 5px;
  padding-left: 70px;
  padding-top: 20px;
}
button {
  background-color: rgb(95, 122, 211);
  font-size: 30px;
  text-align: center;
  width: 90px;
  height: 60px;
}
